body {
    font-family: Verdana;
    background-color: rgba(109, 103, 95, 0.8);
    margin: 0;
}

h1 {
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
}

table {
    margin: auto;
    border-spacing: 1px;
    text-align: center;
}

td {
    background-color: rgb(255, 235, 205);
    border: 1px solid black;
    border-radius: 2px;
    height: 25px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.hide {
    display: none;
}

.face {
    text-align: center;
    margin: auto;
    position: relative;
    left: 48%;
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
    font-size: 30px;
    width: 45px;
    height: 45px;
}

.timer {
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 25%;
    top: 30%;
    border: 2px solid black;
    width: 90px;
    cursor: default;
}

ul {
    list-style-type: none;
}

.mark {
    background-color: rgb(255, 179, 64);
}

.difficulty-btn {
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid black;
}

.hint {
    position: absolute;
    top: 30%;
    left: 5%;
    cursor: default;
    width: 58px;
    height: 25px;
    font-size: 18px;
}

.hint-btn {
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 5%;
    border: 2px solid black;
}

.hint-btn:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
}

.lives {
    position: absolute;
    text-align: left;
    padding: 8px 1px;
    height: 25px;
    width: 68px;
    top: 35%;
    left: 5%;
    background-color: #eee;
    cursor: default;
}

.best-time {
    display: inline-block;
    position: absolute;
    right: 25%;
    top: 20%;
    width: max-content;
    cursor: default;
    border: 2px solid black;
}

.btn-theme {
    background-color: #eee;
    border-radius: 4px;
    padding: 2px 5px;
}

.game-over-modal {
    text-align: center;
    background-color: rgba(116, 85, 18, 0.658);
    font-weight: bold;
    font-size: 30px;
    border-radius: 4px;
    padding: 3px 10px;
    position: sticky;
    left: 42%;
    top: 35%;
    display: none;
    color: rgb(0, 0, 0);
}

.safe-cell {
    background-color: rgb(55, 250, 81);
}

.safe-clicks {
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: #eee;
    cursor: default;
}

.safe-click-btn {
    border: 2px solid black;
    cursor: pointer;
    font-size: 17px;
}